* { box-sizing: border-box;}

html, body {
    height: 100%;
}

body {
    font-family: 'Patua One', cursive;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*player*/
.player{
    min-width: 320px;
    background-color: rgb(255, 183, 183);
    border-radius: 1rem;
    padding: 2rem;
    color:white;
}
/* title */

.title{
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}
/*caratula*/
.cover{
    width: 228px;
    height: auto;
    border-radius: .3rem;
    display: block;
    margin: 0 auto 1rem auto;
} 
/* barra de progreso */
.progressContainer {
    height: .6rem;
    background-color: lightseagreen;
    margin-bottom: 1rem;
}
.progress {
    background-color: goldenrod;
    width: 0;
    height: 100%;
}
/*controles y los botones*/
.controls{
    display:flex;
    justify-content: space-around;
}
.controls button{
    background-color: transparent;
    border: none;
}
.controls i{
    font-size: 1.5rem;
    color:salmon;
}
/*list songs */
.songs{
    margin: 0;
    padding: 0;
    list-style: none;
}
.songs li{
    margin-bottom: 2rem;/*bottom=abajo*/
}